
body {
    margin: 0;

}
.outerForm {
    width: 40vw;
    margin: auto;
    border: 1px solid black;
    background-color: #333;
    color: #eee;
    margin-top: 2em; 
}
.textInp {
    padding: 0.5em;
    text-align: center;
}
select {
    padding-left: 1em;
    padding-right: 1em;
}
#submit {
    border: none;
    padding: 1em;
    text-transform: uppercase;
    background-color: #eee;
    color: #333;
    font-size: 1em;
    border-radius: 5px;
}